<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    
     <http auto-config="true"  use-expressions="true">
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/products" access="permitAll" />
        <intercept-url pattern="/ShoppingCart" access="permitAll" />
        <intercept-url pattern="/shippingAndBilling" access="hasRole('ROLE_User')" />
        <intercept-url pattern="/homePage**" access="hasRole('ROLE_ADMIN') and hasRole('ROLE_User')" />
        <intercept-url pattern="/adminSuccess" access="hasRole('ROLE_ADMIN') " />
        <!--  <intercept-url pattern="/TLSuccess**" access="hasRole('ROLE_ADMIN') and hasRole('ROLE_TL')" /> -->
        <intercept-url pattern="/userSuccess" access="hasRole('ROLE_ADMIN') and hasRole('ROLE_User')" />
         <access-denied-handler error-page="/403"/> 
         <intercept-url pattern="/login**" access="permitAll"/>
        <!--   <intercept-url pattern="/css/**" filters="none"/> -->
         <form-login 
          login-page="/login"
          username-parameter="username"
                     password-parameter="password"
                     authentication-failure-url="/loginfailed.jsp"
                     
         authentication-success-handler-ref="customUrlAuthenticationSuccessHandler" 
       
         /> 
         <!--  login?error=true
         authentication-failure-handler-ref="customUrlAuthenticationFailureHandler" 
         -->
         
          <!-- <form-login login-page="/loginError" authentication-failure-url="/loginError" authentication-failure-handler-ref="customUrlAuthenticationFailureHandler" 
			authentication-success-handler-ref="customUrlAuthenticationSuccessHandler" />
           --><!--  <form-login  login-page="/login"
                     username-parameter="username"
                     password-parameter="password"/> -->
                    <!-- authentication-success-handler-ref="customSuccessHandler"
                     authentication-failure-url="/Access_Denied"  -->
         <csrf disabled="true"/>
    </http>
   <context:component-scan base-package="com.neo.*">
</context:component-scan>
<!-- <context:annotation-config></context:annotation-config> -->
<mvc:annotation-driven></mvc:annotation-driven>

<!-- <tx:annotation-driven transaction-manager="hibernateTransactionManager" /> -->
   
     <!-- <authentication-manager >
        <authentication-provider user-com.neo.service-ref="userService"/>
    </authentication-manager> -->
     
   <!--  <beans:bean id="userService" class="com.neo.serviceImpl.UserServiceImpl" /> 
    <beans:bean id="employeeDao" class="com.neo.daoImpl.EmployeeDaoImpl"></beans:bean> -->
     <!--  <beans:bean id="customSuccessHandler"     class="com.neo.configuration.CustomSuccessHandler" /> 
     -->
    
   
 
	
	<authentication-manager >
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>
	

	 <beans:bean id="customUrlAuthenticationSuccessHandler"
		class="com.neo.configuration.CustomUrlAuthenticationSuccessHandler" />
		
		<beans:bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/>
		
			
	<beans:bean id="customAuthenticationProvider" class="com.neo.configuration.CustomAuthenticationProvider" />
	
		 	<beans:bean id="customUrlAuthenticationFailureHandler"
		class="com.neo.configuration.CustomUrlAuthenticationFailureHandler" />
<!-- </beans:beans>  -->
    
    </beans:beans>
    
    
     
     
     
     
     
     
     
     
     
     
     
     
     