html {
    font-size: 100%;
}
 
body {
    font-family: Verdana;
     background:	#FFF8DC
}
 
.header {
    background: #676767;
    text-align: center;
     color: #fff; 
     height: 100px;
}
 
.menu {
 /*    background: #00ffff; */
    float: left;
    width: 150px;
    height: 250px;
    color: black;
}
 
.body {
   /*  background: #f7f0bb; */
    height: 250px;
    padding-left: 200px;
}
 
.footer {
   /*  background: #fed7a0; */
    text-align: center;
}
