<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- <!DOCTYPE hibernate-com.neo.configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-com.neo.configuration-3.0.dtd">
 -->

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>

		<!-- configure the database -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/trial</property>

		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>


		<!-- use to see which sql queries are fired -->
		<property name="show_sql">true</property>

		<!-- mapping with POJO class -->
		<mapping resource="hibernate.hbm.xml" />

	</session-factory>
</hibernate-configuration>
 
 